<!doctype html>
<html lang="en">
    <!-- HEAD -->
    {{- partial "head" . -}}
    <body>
        <!-- NAV -->
        {{- partial "nav" . -}}
        <main id="main" class="container-fluid">
            <!-- SITE GALLERY -->
            {{ if .IsHome }}
            <div class="row row-example">
                {{ range .Site.RegularPages }}
            {{ partial "card" . }}
            {{ end }}
        {{ end }}
            </div>
            <!-- PAGE GALLERY -->
            {{ if .IsSection }}
            <div class="row row-example">
                {{ range where .Site.RegularPages "Type" .Page.Section }}
            {{ partial "card" . }}
            {{ end }}        
        {{ end }}
            </div>
        </main>
    </body>
    <!-- JS -->
    <script src="/js/ui.js"></script>
</html>
